/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  min-height: 100vh;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 70px;
  background: rgba(255, 204, 197, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a {
  font-size: 24px;
  color: rgba(90, 90, 90, 1);
  text-decoration: none;
  font-weight: 500;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
  column-gap: 23px;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li .sub-menu li {
  padding: 0 8px 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: rgba(90, 90, 90, 1);
  font-size: 16px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow,
.links li > ul li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li:hover .arrow:not(.sub-menu .arrow) {
  color: rgba(255, 84, 62, 1);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: rgba(90, 90, 90, 1);
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu .arrow {
  line-height: 40px;
}

nav .navbar .links li .sub-menu,
nav .navbar .links li .sub-menu .deep-sub-menu {
  width: 256px;
  position: absolute;
  /* padding: 0 20px; */
  top: 52px;
  left: 38px;
  line-height: 40px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 33px rgba(0, 0, 0, 0.18);
  display: none;
  z-index: 2;
}
nav .navbar .links li .sub-menu .deep-sub-menu {
  top: 6px;
  left: 268px;
}
nav .navbar .links li:hover > .sub-menu,
nav .navbar .links li > .sub-menu li:hover > ul.deep-sub-menu {
  display: block;
  padding-left: 0;
}
.navbar .links li .sub-menu li {
  /* padding: 0 22px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: rgba(90, 90, 90, 1);
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 268px;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
  padding-left: 0;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .try-btn a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background-color: rgba(36, 37, 41, 1);
  padding: 10.5px 14px;
  color: rgba(255, 255, 255, 1);
  border-radius: 6px;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}

nav .navbar .links li:hover a:not(.sub-menu li a) {
  color: rgba(255, 84, 62, 1);
}

.nav .navbar .links li > ul.sub-menu > li:hover a {
  color: rgba(255, 84, 62, 1);
}

.navbar .links .try-btn-mobile {
  display: none;
}

@media (max-width: 1100px) {
  .try-btn-mobile {
    display: block;
  }
  nav .navbar .links li:hover > .sub-menu,
  nav .navbar .links li > .sub-menu li:hover > ul.deep-sub-menu {
    display: none;
  }
  nav .navbar .links li > .show1 {
    display: block !important;
  }

  .try-btn {
    display: none;
  }

  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 360px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: rgba(36, 37, 41, 1);
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: rgba(36, 37, 41, 1);
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu,
  nav .navbar .links li .sub-menu .deep-sub-menu {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
    max-width: 200px;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  nav {
    /* position: relative; */
  }
  .try-btn-mobile {
    display: block;
  }

  .try-btn {
    display: none;
  }

  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 360px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: rgba(36, 37, 41, 1);
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: rgba(36, 37, 41, 1);
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}
