html,
body {
  margin: 0;
  background-color: #f2f2f2;
}
.navbar {
  background-color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  padding: 8px;
}
nav .logo img {
  width: 90px;
}
nav ul {
  display: flex;
  width: 400px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul li a.openAccount {
  background-color: rgb(172, 54, 54);
  padding: 6px 15px;
  color: white;
  border-radius: 25px;
}
nav .mobile-img-icon {
  display: none;
}
nav {
  padding: 0 15px;
}
@media (max-width: 768px) {
  nav {
    height: 67px;
    overflow: hidden;
  }
  nav ul {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    row-gap: 23px;
    margin-top: 144px;
  }
  nav .mobile-img-icon {
    display: block;
  }
  nav .mobile-img-icon img {
    width: 30px;
  }
}
